body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content-block:not(.first-content){
    display: none;
}
#first{
    background-color: white;
}
.nav{
    background-color: grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.nav button{
    background-color: grey;
    height: 50px;
    width: 130px;
    text-decoration: none;
    border: none;
}
.nav button:hover{
    background-color:  rgb(255, 255, 255);
}
.content div{
    padding: 40px;
}
